/* ConditionNode.css */

.condition {    
}

.diamond {
    transform: translate(-50%, -50%) rotate(45deg);    
    background: #f0f0f0;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #222;    
    width: auto;
    height: auto;
}

.content-condition {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    white-space: nowrap;
}