.cycleStart-node {
    
}

.cycleStart {
    fill: #f0f0f0;
    stroke: black;    
    stroke-width: 1px;
}

.content-cycleStart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.content-cycleStart td {
    white-space: nowrap;
    text-align: center;
}